body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.ts-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.ts-header .mdl-menu__container {
  z-index: 50;
  margin: 0;
}


.mdl-textfield--expandable {
  width: auto;
}

.ts-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda;
  color: black;
}

.ts-mobile-title {
  display: none;
}


.ts-logo-image {
  height: 28px;
  width: 140px;
}


.ts-header {
  overflow: visible;
  background-color: white;
}

  .ts-header .material-icons {
    color: #767777;
  }

  .ts-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .ts-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .ts-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ts-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
  }

  .ts-search-box.is-focused + .ts-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .ts-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent;
    border-bottom: 4px solid transparent;
  }

    .ts-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }

  .ts-search-box {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .ts-more-button {
    order: 3;
  }


.ts-drawer {
  border-right: none;
}

  .ts-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .ts-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .ts-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .ts-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .ts-drawer .ts-logo-image {
      position: absolute;
      bottom: 16px;
    }

.ts-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.ts-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.ts-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.ts-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .ts-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.ts-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.ts-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.ts-screen {
  text-align: center;
}

.ts-screen .ts-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.ts-image-link {
  text-decoration: none;
}

.ts-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .ts-wear .ts-screen-image {
    width: 40%;
    z-index: 1;
  }


.ts-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .ts-phone .ts-screen-image {
    width: 100%;
    z-index: 1;
  }


.ts-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .ts-tablet .ts-screen-image {
    width: 100%;
    z-index: 1;
  }

  .ts-tablet .ts-link {
    display: block;
    z-index: 2;
  }


.ts-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .ts-tv .ts-screen-image {
    width: 100%;
    z-index: 1;
  }


.ts-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .ts-auto .ts-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }


.ts-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.ts-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.ts-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .ts-wear-band-text p {
    padding-top: 8px;
  }

.ts-link {
  text-decoration: none;
  color: #8bc34a;
}

  .ts-link:hover {
    color: #7cb342;
  }

  .ts-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.ts-alt-link {
  text-decoration: none;
  color: #64ffda;
  font-size: 16px;
}

  .ts-alt-link:hover {
    color: #00bfa5;
  }

  .ts-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.ts-customized-section {
  text-align: center;
}

.ts-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .ts-customized-section-text p {
    padding-top: 16px;
  }

.ts-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.ts-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .ts-more-section .ts-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.ts-card-container {
}

  .ts-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .ts-card-container .mdl-card__media img {
      width: 100%;
    }

  .ts-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .ts-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .ts-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .ts-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .ts-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.ts-footer {
  background-color: #fafafa;
  position: relative;
}

  .ts-footer a:hover {
    color: #8bc34a;
  }

  .ts-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .ts-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .ts-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .ts-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .ts-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.ts-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .ts-navigation-container {
    display: none;
  }

  .ts-title {
    display: none;
  }

  .ts-mobile-title {
    display: block;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .ts.ts-search-box.is-focused ~ .ts-mobile-title,
  .ts-search-box.is-focused + .ts-navigation-container + .ts-mobile-title {
    opacity: 0;
  }

  .ts-more-button {
    display: none;
  }

  .ts-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .ts-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .ts-be-together-section {
    height: 350px;
  }

  .ts-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .ts-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .ts-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .ts-create-character img {
    height: 12px;
  }

  .ts-fab {
    display: none;
  }

  .ts-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .ts-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

