body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.ts-footer {
  padding: 10px 0;
}

header.mdl-layout__header {
  background: white;
  color: rgb(118, 119, 119);
}

header .mdl-layout-icon {
  height: 56px;
}
