body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}

.ts-footer {
  padding: 10px 0;
}

header.mdl-layout__header {
  background: white;
  color: rgb(118, 119, 119);
}

header .mdl-layout-icon {
  height: 56px;
}

.ts-layout--cursive {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.ts-layout--cursive-big {
  font-family: 'Indie Flower', cursive;
  font-size: 36px
}
