<footer class="ts-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <a href="https://www.facebook.com/Toystori-761940260497219/" class="mdl-button mdl-typography--font-light">
        <i class="fa fa-facebook fa-lg"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/iamtoystori/" class="mdl-button mdl-typography--font-light">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light">&copy; 2017 Toystori authors</p>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <a class="ts-link mdl-typography--font-light" href="#">About</a>
    <a class="ts-link mdl-typography--font-light" href="#">Privacy Policy</a>
  </div>
</footer>
