{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div class="mdl-grid">
    <h1>Toys</h1>
  </div>
  <ul>
    {% for toy in object_list %}
      <div class="mdl-grid">
        <li>
          <a href="{% url 'toy:edit' toy.id %}">{{ toy.title }}</a>
          {{ toy.description }}
          {{ toy.location }}
        </li>
      </div>
    {% empty %}
      <div class="mdl-grid">
        <li>{% trans "No toys yet." %}</li>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
