{% load i18n static %}<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block getmdl_css %}
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:700" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">

    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% block metatag_description %}
      <meta name="description" content="Platform for children to share toys.">
    {% endblock %}

    {% block metatags %}
    {% endblock %}

    {% block common_css %}
      <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% endblock %}

    {% block extrastyle %}
    {% endblock %}

    {% block extrahead %}
    {% endblock %}
  </head>
  {% load i18n %}

  <body>
    {% block all_content %}
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% block navbar %}
          {% include 'includes/navbar.html' %}
        {% endblock %}

        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}

        {% block content %}
        {% endblock %}

        {% block footer %}
          {% include 'includes/footer.html' %}
        {% endblock %}
      </div>
    {% endblock all_content %}

    {% block getmdl_js %}
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% endblock %}
  </body>
</html>
