{% load static %}
<footer class="ts-footer mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo mdl-layout--large-screen-only">
      <i class="far fa-copyright"></i> 2018 Toystori authors
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li>
        <a href="https://www.facebook.com/Toystori-761940260497219/" class="mdl-button">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/iamtoystori/" class="mdl-button">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="mdl-button" href="{% url 'about:about' %}">About</a>
      </li>
    </ul>
  </div>
</footer>
